h1{
    color:rgb(0, 0, 0);
    background-color: yellow;
    border-radius: 50px 50px 50px 50px / 30px 30px 30px 30px;
    padding: 20px 60px;
    font-family:'Times New Roman', Times, serif
}
h2{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif
}
h3{
    color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif
}
p{
    color: rgb(255, 255, 255);
}
#menu-bar a{
font-family : Helvetica, sans-serif;
text-decoration : none;
background-color: aquamarine;
padding : 5px;
}
#menu-bar a:hover{
background-color: aqua;
color : #ffffff;
}
